:root{
    --color-font: #fff;
    --color-important: #62929E;
    --color-buttons: #546A7B;
    --color-navbar: #C6C5B9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
}


/*Corpo do Apliactivo*/
.app{
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
     gap: 1.2rem;
    position: relative;
    overflow: hidden;
}

/*Botão superior esquerdo*/
.btn-mobile{
    display: flex;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--color-buttons);
    gap: .5rem;
    align-self: flex-start;
}

/*Barra do botão*/
.hamb{
    border-top: 5px solid;
    width: 30px;
}

.hamb::after,.hamb::before{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: currentColor;
    transition: .3s;
}


/*Navbar Lateral*/
.navbar-lateral{
    transform: translateX(-240px);
    visibility: hidden;
    position: absolute;
}


.active.navbar-lateral{
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: var(--color-navbar);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: slideInLeft .5s ease-in-out forwards ;
    visibility: visible;
}

/*Animação*/
@keyframes slideInLeft{
    from{
        transform: translateX(-240px);
    }
    to{
        transform: translateX(0);
    }
}



/*Botão de fechar a listagem de nome*/
.btn-close{
    display: flex;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: white;
    gap: .5rem;
    align-self: flex-end;
}

.close{
    border-top: 5px solid;
    width: 30px;
    border-top: transparent;
}

.close::after,.close::before{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    background-color: currentColor;
    transition: .3s;
}

.close::before{
    transform: rotate(135deg);
}
.close::after{
    transform: rotate(-135deg);
    top: -10px;
}

/*Lista dentro da navbar*/
.list-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
}
.list-title{
    width: 100%;
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-self: flex-start;
    padding-left: .5rem;
}

.list > li{
    color: white;
    font-size: 1.3rem;
}


/*Search Bar*/

.search-bar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn-search{
    width: 25%;
    height: 1.5rem;
    background-color: var(--color-important);
    font-size: 1rem;
    color: var(--color-font);
    border: none;
    cursor: pointer;
}

#barrapesquisa{
    border: 2px solid var(--color-important);
    border-radius: 20px;
    padding-left: .2rem;
}

/*TItulo do Apliactivo*/
.title{
    font-size: 3rem;
    color: var(--color-important);
}

/*Input do nome*/
input[type="text"]{
    width: 75%;
    height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    outline: 5px solid var(--color-important);
    border: none;
    border-radius: 30px;
}


/*Parte onde se encontra os botões de ações*/

.buttons{
    width: 100%;
    padding: 1rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem
}

/*Estilização dos botões de ações*/

.btn{
    width: 10rem;
    height: 3rem;
    background-color: var(--color-buttons);
    color: var(--color-font);
    font-size: .8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*Estilização do botão de listar pessoas*/

.btn-list{
    background-color: var(--color-important);
    font-size: 1.3rem;
    color: var(--color-font);
    border: none;
    width: 15rem;
    height: 3.5rem;
    cursor: pointer;
}


/*Responsividade*/

@media (max-width: 360px) {
   .buttons{
        padding: 0;
    }
    .btn{
        width: 9.5rem;
    }

    .search-bar{
        gap: 1rem;
    }
}